
<h3>Lista de productos</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Cantidad</td>
        <td>Estado</td>
        <td>Sub-total</td>
    </tr>
    @foreach (var producto in ViewBag.productos) {
        <tr>
            <td>@producto.Id</td>
            <td>@producto.Nombre</td>
            <td>@producto.Precio</td>
            <td>@producto.Cantidad</td>
            <td>@producto.Estado</td>
            <td>@(producto.Precio * producto.Cantidad)</td>
        </tr>
    }
</table>

<br />
<a href="@Url.Action("Agregar", "Home")">Agregar nuevo producto</a>